<h1 class="font-weight-light mt-4 d-flex justify-content-center">Our CEO: Zara</h1>
<div class="d-flex justify-content-center">


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/matchapixel/image/upload/v1589320236/e809a2c2-db08-4d11-979d-54f7d588cb0c_e8qbbc.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">The goodest and cutest doggo you'll ever meet</p>
  </div>
</div>

</div>