<main>

  <h1 class="font-weight-light mt-4 text-black">Welcome to Rideshare Rails!</h1>
  <p class="lead text-black-50">Use the navigation links above to book a trip, manage drivers, and/or manage passengers.</p>

</main>