<h1 class="font-weight-light mt-4">Add a New Passenger</h1>
<p class="lead text-black-50">Please provide the following information to add a passenger:</p>
<%= render partial: "form", locals: { action_name: "Create Passenger" } %>